
@using Recruitment.Models
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainerPie", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Source CV"
	},
	subtitles: [{
		text: "2019"
	}],
	data: [{
		type: "pie",
		startAngle: 180,
		toolTipContent: "<b>{label}</b>: {y}",
		showInLegend: "true",
		legendText: "{label}",
		indexLabel: "{label} - {y}",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
    });
var chartbar = new CanvasJS.Chart("chartContainerBar", {

	animationEnabled: true,
    theme: "light2", // "light1", "light2", "dark1", "dark2",
    exportEnabled: true,
	title: {
        text: "Total Stock VS Total Called CV"
	},
    axisY: [{
        title: "People",
        interval: 1,
        lineColor: "#369EAD",
        titleFontColor: "#369EAD",
        labelFontColor: "#369EAD"
    }],
	data: [{
        type: "column",
        showInLegend: true,
        //axisYIndex: 0, //Defaults to Zero
        name: "Stock",
        xValueFormatString: "####",
		dataPoints: @Html.Raw(ViewBag.DataPointsBar)
	},
    {
        type: "column",
        showInLegend: true,

        interval: 1,
        //axisYIndex: 0, //Defaults to Zero
        name: "Call",
        xValueFormatString: "####",
		dataPoints: @Html.Raw(ViewBag.DataPointsBar2)
	}]
});
chartbar.render();
chart.render();

}
    </script>

    @{ List<MostPosition> topposition = (List<MostPosition>)TempData.Peek("topposition");
        List<MostPosition> toppositionmonth = (List<MostPosition>)TempData.Peek("toppositionmonth");
        List<MostPosition> toppositionyear = (List<MostPosition>)TempData.Peek("toppositionyear");
    }
</head>
<body>
    <div id="chartContainerPie" class="col-md-6" style="height: 370px; width: 49%;"></div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <table class="table  table-hover table-condensed col-md-6" style=" width: 49%;">

        <thead>
            <p class="text-center">All CV (Most)</p>
            <tr class="info">
                <td>Position</td>
                <td>QTY</td>
                <td>State</td>
            </tr>
        </thead>
        <tbody>
            @if (topposition != null)
            {
                foreach (MostPosition m in topposition)
                {
                    <tr>
                        <td>@m.mostposition</td>
                        <td>@m.mostqty</td>
                        <td>Most @m.moststate</td>

                    </tr>

                }
            }

        </tbody>
    </table>
    <table class="table table-hover table-condensed col-md-6" style=" width: 49%;">
        <thead>
            <p class="text-center">(Most) In Year</p>
            <tr class="info">
                <td>Position</td>
                <td>QTY</td>
                <td>State</td>
            </tr>
        </thead>
        <tbody>
            @if (toppositionyear != null)
            {
                foreach (MostPosition m in toppositionyear)
                {
                    <tr>
                        <td>@m.mostposition</td>
                        <td>@m.mostqty</td>
                        <td>Most @m.moststate</td>

                    </tr>

                }
            }
        </tbody>
    </table>
    <table class="table table-hover table-condensed col-md-6" style=" width: 49%;">
        <thead>
            <p class="text-center">(Most) In Month</p>
            <tr class="info">
                <td>Position</td>
                <td>QTY</td>
                <td>State</td>
            </tr>
        </thead>
        <tbody>
            @if (toppositionmonth != null)
            {
                foreach (MostPosition m in toppositionmonth)
                {
                    <tr>
                        <td>@m.mostposition</td>
                        <td>@m.mostqty</td>
                        <td>Most @m.moststate</td>

                    </tr>

                }
            }
        </tbody>
    </table>
    <div id="chartContainerBar" class="col-md-8" style="height: 300px; width: 100%;"></div>
</body>
</html>
