<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src='@Url.Content("~/Scripts/jquery-1.8.2.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>

    <title>Halaman Utama</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/vendors/jQuery-Smart-Wizard/styles/smart_wizard.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    @RenderSection("styles", required: false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>Recruitement Ace</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/build/images/logo ACE.png" alt="..." class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@Session["name"]</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <div id="navcontainer"></div>
                            <ul class="nav side-menu">
                               
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">@Session["name"]
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        @*<a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>*@
                                        @Html.ActionLink(" Change Password", "Reset", "Home", new { id = ((Recruitment.Models.Users)Session["user"]).Username }, new { @class = "fa fa-lock pull-right" })
                                        @Html.ActionLink(" Logout", "Logout", "Login", null, new { @class = "fa fa-sign-out pull-right" })
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">

                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            @*<h3>Halaman Utama</h3>*@
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div style="min-height:537px;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/js")

    <!-- Bootstrap -->
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <!-- FastClick -->
    @*<script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>*@
    <!-- NProgress -->
    @*<script src="~/Content/vendors/nprogress/nprogress.js"></script>*@

    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

<script type="text/javascript">
var menuLoaded = false;
$(document).ready(function () {
    if($('#navcontainer')[0].innerHTML.trim() == "")
    {
        $.ajax({
                url: "@Url.Content("~/Home/MenuLayout")",
                type: "GET",
                success: function (response, status, xhr)
                            {
                                var nvContainer = $('#navcontainer');
                                nvContainer.html(response);
                                menuLoaded = true;
                            },
                error: function (XMLHttpRequest, textStatus, errorThrown)
                        {
                                var nvContainer = $('#navcontainer');
                            nvContainer.html(errorThrown);
                        }
                });
   }
    });
    
</script>

</html>
