@model Recruitment.Models.ExperienceDTO
@using Recruitment.Models;
@{
    ViewBag.Title = "EditExperiences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Experiences</h2>
<hr class="bg-blue" />

@using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.TextBoxFor(model => model.ExperienceId, new { @type = "hidden" })

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Label("Company Name", new { @class = "title control-label" })

                @Html.TextBoxFor(c => c.ExperienceName, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.ExperienceName, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.Label("Industri", new { @class = "title control-label" })

                @Html.TextBoxFor(c => c.Industri, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Industri, null, new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.Label("Start Date", new { @class = "title control-label" })

                @Html.TextBoxFor(c => c.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(c => c.StartDate, null, new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.Label("End Date", new { @class = "title control-label" })

                @Html.TextBoxFor(c => c.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(c => c.EndDate, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Jobs Desc", new { @class = "title control-label" })

                @Html.TextAreaFor(c => c.JobDesc, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.JobDesc, null, new { @class = "text-danger" })


            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Label("Position", new { @class = "title control-label" })
                @Html.DropDownListFor(c => c.Posisi, new DropListSource().DropListPosition(), new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Posisi, null, new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.Label("Salary", new { @class = "title control-label" })

                @Html.TextBoxFor(c => c.Salary, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Salary, null, new { @class = "text-danger" })


            </div>
            <div class="form-group">
                @Html.Label("Project", new { @class = "title control-label" })

                @Html.TextBoxFor(c => c.Project, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Project, null, new { @class = "text-danger" })


            </div>

            <div class="form-group">
                @Html.Label("Skill", new { @class = "title control-label" })

                @Html.TextAreaFor(c => c.Skill, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Skill, null, new { @class = "text-danger" })
                <small class="text-danger">Gunakan koma (,) untuk pemisah</small>

            </div>


            <div class="form-group">
                @Html.Label("Benefit", new { @class = "title control-label" })

                @Html.TextAreaFor(c => c.Benefit, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Benefit, null, new { @class = "text-danger" })
                <small class="text-danger">Gunakan koma (,) untuk pemisah</small>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Label("Id Candidate", new { @class = "title control-label" })

                @Html.EditorFor(model => model.CandidateId, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                @Html.ValidationMessageFor(model => model.CandidateId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input class="btn btn-info btn-sm" type="submit" value="Update" />
            </div>
        </div>   
    </div>
}

