@model IEnumerable<Recruitment.Models.PositionPoco>

@{
    ViewBag.Title = "ListPosition";
}
<link href="~/Content/build/css/table.css" rel="stylesheet" />
<h2><center>LIST POSITION</center></h2>
    <hr />

<p>
    @Html.ActionLink("Add New Position", "AddPosition","Position", new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPosisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPosisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nama)
        </td>
        <td>
            @Html.ActionLink("Edit", "editposition", new { id = item.IdPosisi}, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "DeletePosition", new { id = item.IdPosisi}, new { @class = "btn btn-danger" })
            @*<form action="/delete/@item.IdPosisi"  method="post">
                <input type="submit" class="btn btn-danger" value="Delete" />
            </form>*@
        </td>
    </tr>
}

</table>
