@model IEnumerable<Recruitment.Models.EducationDTO>
@{
    ViewBag.Title = "EducationList";
    Layout = null;
}

@*<link href="~/Content/build/css/table.css" rel="stylesheet" />*@
<br>



<div align="right">
    <a href="~/Education/AddEducation/" class="btn btn-primary">Add Education</a>
</div>
<table class="table table-striped table-responsive table-bordered">
    <thead>
        <tr>
            <th>University / School</th>
            <th>Major</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Degree</th>
            <th>GPA</th>
            <th>Button Action</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        
            <tr>
                <td>@item.EducationName</td>
                <td>@item.Major</td>
                <td>@item.TahunMasuk</td>
                <td>@item.TahunLulus</td>
                <td>@item.Degree</td>
                <td>@item.GPA.ToString("0.00")</td>
                <td><a href="~/Education/EditEducation/@item.EducationId" class="btn btn-warning btn-sm">Edit</a></td>
            </tr>
        
    }
</table>
