@model Recruitment.Models.CandidateJoin

@using Recruitment.Models;
@{
    List<string> posisi = (List<string>)TempData.Peek("position");
    List<string> max = (List<string>)TempData.Peek("maxid");
    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h3>Halaman Tambah Candidate</h3>
    <hr>
    <div>

        @using (Html.BeginForm("Insert", "AddCandidate", FormMethod.Post))
        {
            <div class="row">
                <div class="col-lg-4 col-md-4  col-sm-12">
                    <div class="form-group">
                        @Html.Label("Candidate ID", new { @class = "title control-label" })

                        @*@Html.TextBoxFor(c => c.CandidateDetails.CandidateId, new { @class = "form-control", @readonly = "readonly", @value = max })*@
                        <input type="text" name="CandidateId" value="@max.FirstOrDefault()" readonly="readonly" class="form-control" />

                    </div>
                    <div class="form-group">
                        @Html.Label("Nama Lengkap", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.NamaLengkap, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Nama Panggilan", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.NamaPanggilan, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Jenis Kelamin", new { @class = "title control-label" })

                        @Html.DropDownListFor(c => c.CandidateDetails.JenisKelamin, new SelectList(new List<string> { "P", "L" }), new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Tempat Lahir", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.TempatLahir, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Tanggal Lahir", new { @class = "title control-label" })
                        <div class="input-group">
                            @Html.TextBoxFor(c => c.CandidateDetails.TanggalLahir, null, new { @class = "form-control", @type = "date" })
                        </div>



                    </div>
                    <div class="form-group">
                        @Html.Label("Agama", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.Agama, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Status Perkawinan", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.StatusPerkawinan, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Alamat Rumah", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.AlamatRumah, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Alamat Orang Tua", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.AlamatOrtu, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Telepon Rumah", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.TelpRumah, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Email", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.Email, new { @class = "form-control" })


                    </div>
                </div>
                <div class="col-lg-4 col-md-4  col-sm-12">

                    <div class="form-group">
                        @Html.Label("No HP", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.NoHP, null, new { @class = "form-control", @type = "number" })


                    </div>
                    <div class="form-group">
                        @Html.Label("KTP", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.NoKTP, null, new { @class = "form-control", @type = "number" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Kode Pos", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.KodePos, null, new { @class = "form-control", @type = "number" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Gaji yang diharapakan", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.ExpectedSalary, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Catatan", new { @class = "title control-label" })

                        @Html.TextAreaFor(c => c.CandidateDetails.Catatan, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Posisi", new { @class = "title control-label" })

                        @Html.DropDownListFor(c => c.CandidateDetails.JudulPosisi, new DropListSource().DropListPosition(), new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.Label("Rekomendasi", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.Referer, new { @class = "form-control" })


                    </div>
                    <div class="form-group">
                        @Html.Label("Source ID", new { @class = "title control-label" })

                        @Html.DropDownListFor(c => c.SumberDetails.SumberNama, new DropListSource().DropListName(), new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.Label("NPWP", new { @class = "title control-label" })

                        @Html.TextBoxFor(c => c.CandidateDetails.NPWP, null, new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="form-group">
                        @Html.Label("CV", new { @class = "title control-label" })



                        @Html.TextBoxFor(c => c.CandidateDetails.CV, new { @class = "form-control" })
                        @ViewBag.Message


                    </div>
                    <div class="form-group">
                        @Html.Label("Foto", new { @class = "title control-label" })

                        <label for="file">Upload Image:</label>
                        <input type="file" name="gambarFile" id="filefoto" /><br><br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Experience.ExperienceId, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Experience.ExperienceId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience.ExperienceId, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Experience.Industri, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Experience.Industri, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience.Industri, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Experience.Posisi, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.Experience.Posisi, new SelectList(posisi), "Pilih Posisi", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience.Posisi, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Experience.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Experience.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience.StartDate, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Experience.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Experience.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience.EndDate, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Experience.JobDesc, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.TextArea("JobDesc", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience.JobDesc, "", new { @class = "text-danger" })


                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Experience.Skill, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Experience.Skill, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience.Skill, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>

            <div class="form-group">
                <input class="btn-primary" type="submit" value="Create" />

            </div>
        }
    </div>
</body>
</html>

