@model Recruitment.Models.SkillAndList
@using Recruitment.Models;
@{
    ViewBag.Title = "Skills";
    Layout = null;
    string id_candidate = ViewBag.id_candidate;
}
@*<link href="~/Content/build/css/table.css" rel="stylesheet" />*@
<br>

<div class="row float-right">
    <form action="~/Candidate/InsertCandidateSkill" method="post">
        <input type="text" value="@id_candidate" hidden name="id_candidate" id="id_candidate"/>
        <div class="col-md-4">
            <div class="form-group">
                @Html.DropDownListFor(c => c.suram.SkillId, new DropListSource().DropListSkill(), new { @class = "form-control" })
                @*@Html.ValidationMessageFor(c => c.Skill.SkillId, null, new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="col-md-3">
            <input type="submit" name="kirim" value="Add Skill" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="row">
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name Skill</th>
                <th>Button Action</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;
                foreach (var item in Model.ListSkill)
                {
                    i = i + 1;
            <tr>
                <td>@i.</td>
                @*<td>@item.CandidateId</td>*@
                <td>@item.NameSkill</td>
                @*<td><a href="~/Candidate/DeleteSkill/@item.SkillId/@item.CandidateId" class="btn btn-danger btn-sm">Delete</a></td>*@
                <td>
                    @Html.ActionLink("Delete", "DeleteSkill", "Candidate", new { SkillId = item.SkillId, CandidateId = item.CandidateId }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>